* {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 7vw;
}

.counters {
    align-items: center;
}

.countersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.choose {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 25vw;
}

@media (min-width: 1024px) {

    h2 {
        font-size: 3.2vw;
    }

    h1 {
        font-size: 3.7vw
    }

    .counters {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .display {
        font-size: 3vw;
    }
}