* {
    padding: 0px;
    margin: 0px;
}

.counters{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.countersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.choose{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}